<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Welcome</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" type="image/x-icon" href="/static/image/favicon.ico">
</head>
<body>
    <div class="welcome">Welcome to Wolopolo OAuth2!</div>
    <style>

        .welcome {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 68px;
            font-weight: bolder;
            text-shadow: -5px 5px 5px black;
            color: #811313;
            width: 100%;
            line-height: 8;
            text-align: center;
        }
    </style>
</body>
</html>
