<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verification failed</title>
</head>
<body>
    <div class="container">
        <div>Verification failed</div>
        <div>Invalid account or expired link</div>
    </div>

    <style>
        body {
            font-family: cursive;
        }

        .container {
            box-shadow: 0 0 25px black;
            border-radius: 5px;
            padding: 20px;
            width: 300px;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 150px;
        }
    </style>
</body>
</html>